<div class="total-amount d-flex">
  <p class="mr-3">總支出：<span class="font-weight-bold" style="font-size: larger; color: red;">1000</span></p>
  <p>總收入：<span class="font-weight-bold" style="font-size: larger; color: green;">1000</span></p>
</div>

<div class="d-flex">
  <div>月份</div>
  <label for="category-selection">類別</label>
  <form action="/" method="GET" id="category-selection">
    <select class="custom-select" form="category-selection" onchange="this.form.submit()">
      <option value="all">全部</option>
      <option value="1" name="one">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </form>
</div>

<ul class="list-group">
  {{#each records}}
  <li class="list-group-item">
    <div class="row">
      <div class="col-auto mr-auto">
        <h4 class="d-inline">{{ this.name }}</h4>
        <p class="d-inline">{{ this.date }}</p>
        <strong>{{ this.amount }}</strong>
      </div>

      <div class="col-auto">
        <a class="btn btn-outline-warning mr-1" href="./records/{{ this._id }}/edit">edit</a>
        <form action="/records/{{ this._id}}?_method=DELETE" method="POST" style="display: inline;">
          <button class="btn btn-outline-danger" type="submit">delete</button>
        </form>
      </div>
    </div>
  </li>
  {{/each}}

</ul>