<div class="p-5">
  {{> message}}
  <div class="row">
    <form class="form-inline" method="GET" action="/" id="selector">
      {{!-- date selection --}}
      <div class="col">
        <select class="custom-select" form="selector" onchange="this.form.submit()" name="year">
          {{#each yearList}}
          <option value="{{ this }}" name="{{ this }}" {{#if_equal ../year this}}selected{{/if_equal}}>
            {{ this }} 年</option>{{/each}}
        </select>
      </div>
      <div class="col">
        <select class="custom-select" form="selector" onchange="this.form.submit()" name="month">
          <option value="all" name="all">所有月份</option>
          {{#each monthList}}
          <option value="{{ this }}" name="{{ this }}" {{#if_equal ../month this}}selected{{/if_equal}}>{{ this }} 月
          </option>
          {{/each}}
        </select>
      </div>
      {{!-- category selection --}}
      <div class="col">
        <select class="custom-select" form="selector" onchange="this.form.submit()" name="category">
          <option value="all" name="all">全部類別</option>
          {{#each categories}}
          <option value="{{ this.title }}" name="{{ this.title }}"
            {{#if_equal ../category this.title}}selected{{/if_equal}}>{{ this.title }}
          </option>
          {{/each}}
        </select>
      </div>
    </form>
    <div class="col">
      <h2 class="mr-3 text-right">總支出：
        <span class="font-weight-bold" style="font-size: larger; color: red;">{{ getNumberFormat totalAmount }}</span>
      </h2>
    </div>
  </div>

  <ul class="list-group my-3 pb-5">
    <li class="list-group-item list-group-item-secondary">
      <div class="row d-flex align-items-center">
        <div class="col-3">
          <h5><strong>支出項目</strong></h5>
        </div>
        <div class="col-3">
          <h5><strong>店家</strong></h5>
        </div>
        <div class="col-3">
          <h5><strong>日期</strong></h5>
        </div>
        <div class="col-3">
          <h5><strong>金額</strong></h5>
        </div>
      </div>
    </li>
    {{#if records}}
    {{#each records}}
    <li class="expense-list list-group-item">
      <div class="row align-items-center">
        <div class="col">
          <div style="width: 30px; display: inline-block;">
            {{{ this.category.icon }}}
          </div>
          <h5 class="d-inline-block">{{ this.name }}</h5>
        </div>
        <div class="col-3 text-left">
          <p style="display: inline;">{{ this.merchant }}</p>
        </div>
        <div class="col-3 text-left">
          <p style="display: inline;">{{ getFullDate this.date }}</p>
        </div>
        <div class="col-1 text-right">
          <strong style="color: red;">{{ getNumberFormat this.amount }}</strong>
        </div>
        <div class="col-2 text-right">
          <a class="btn btn-outline-warning mr-1" href="./records/{{ this._id }}/edit"><i class="fas fa-edit"></i></a>
          <form action="/records/{{ this._id}}?_method=DELETE" method="POST" style="display: inline;">
            <button class="btn btn-outline-danger" type="submit"
              onclick="return confirm('確定刪除『{{ this.name }}』這筆支出嗎？')"><i class="far fa-trash-alt"></i></button>
          </form>
        </div>
      </div>
    </li>
    {{/each}}
    {{else}}
    <li class="expense-list list-group-item">
      <div class="row align-items-center">
        <div class="col">
          <h5 class="text-center"><strong style="color:dark gray;">您選擇的類別沒有支出喲！</strong></h5>
        </div>
      </div>
    </li>

    {{/if}}

  </ul>
</div>